# Backend
fastapi
uvicorn
python-multipart

# AI & LLM
google-generativeai>=0.8.0
openai
langchain
langchain-community
langchain-text-splitters
langchain-google-genai

# Database & PDF
chromadb
pypdf

# Environment & Fixes
python-dotenv
typing-extensions
pysqlite3-binary
