#Backend (FastAPI & Server)
fastapi
uvicorn
python-multipart

# AI & LLM (Gemini & OpenAI)
google-generativeai
openai
langchain
langchain-community
langchain-text-splitters

# Database & PDF Processing
chromadb
pypdf
pypdf2

# Environment & Tools
python-dotenv
typing-extensions
