# Backend (FastAPI & Server)
fastapi
uvicorn
python-multipart

# AI & LLM (Gemini & OpenAI)
# აუცილებელია 0.8.0-ზე მაღალი ვერსია Gemini 2.5-ისთვის
google-generativeai>=0.8.0
openai
langchain
langchain-community
langchain-text-splitters
langchain-google-genai

# Database & PDF Processing
chromadb
# pypdf2 ამოღებულია
pypdf

# Environment & Tools
python-dotenv
typing-extensions

# Linux Server Fixes 
pysqlite3-binary
